.filter {
  width: 280px;
  height: 130px;
  box-shadow: 0 4px 12px #E7E7E7;
}

.filter-caption {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 5px;
  color: #2B2839;
  border-bottom:  1px solid #d8d8d8;
}

.filter-subcaption {
  padding-left: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #2B2839;
}

.filter-input {
  margin-left: 30px;
  padding-left: 10px;
  width: 220px;
  height: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
