.right-main_list {
  width: 910px;
  box-shadow: 0 4px 12px #E7E7E7;
  margin-bottom: 20px;
}

.right-main_list-head {
  display: flex;

  align-items: center;
  background: #E6E6E6;
  width: 910px;
  height: 40px;
}

.right-main_list-text {
  display: flex;
  flex-direction: row;
}

.head-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22%;
  height: 40px;
  border-right: #FFFFFF 3px solid;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.head-caption:last-of-type {
  border: 0;
}

.text-caption {
  width: 22%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.text-caption:first-of-type {
  justify-content: left;
  text-indent: 20px;
}

.head-caption:last-of-type {
  width: 12%;
}

.text-caption:last-of-type {
  width: 12%;
}

.right-main_list-head,.right-main_list-text {
  border-bottom: 1px solid #E6E6E6;
}

.btn-wrap {
  display: flex;
  justify-content: center;

  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  border-radius: 3px;
}

.edit-delete-settings {
  border:0;
  outline:0;
  background: white;
}

.invisible {
  display: none;
}
